{% from "_macro.html" import renderfield %}
{% extends 'base/base.html' %}
{% block content %}

<div class="container">
  <div class="row ">
    <div class="col col-md-3">
      <form>
        {{ renderfield(form.formlevelone, class = 'form-control') }}
        {{ renderfield(form.formleveltwo, class = 'form-control') }}
        {{ renderfield(form.formunderlyings, class = 'form-control') }}
        {{ renderfield(form.formdelicond, class = 'form-control') }}
        {{ renderfield(form.formgeodel, class = 'form-control') }}
      </form>
    </div>
    <div class="col col-md-5">
      <form>
        {{ renderfield(form.formplattscode, class = 'form-control') }}
        {{ renderfield(form.formdivisas, class = 'form-control') }}
        {{ renderfield(form.formmurexcode, class = 'form-control') }}
      </form>
      <div class="container">
        <div class="row ">
          <div class="col col-md-4">
              <form>
                {{ renderfield(form.formmesinici, class = 'form-control') }}
              </form>
            </div>
          <div class="col col-md-4">
              <form>
                {{ renderfield(form.formyearinici, class = 'form-control') }}
              </form>
          </div>
          <div class="col col-md-4">
              <form>
                {{ renderfield(form.formtotalmesos, class = 'form-control') }}
              </form>
          </div>
        </div>
        <div class="row ">
          <div class="col col-md-8">
              <form>
                {{ renderfield(form.formcalendar, class = 'form-control') }}
              </form>
            </div>
          <div class="col col-md-4">
              <form>
                {{ renderfield(form.formmesinici, class = 'form-control') }}
              </form>
            </div>
        </div>
      </div>
    </div>
    <div class="col col-md-4">
      <p>aqui hi han d'anar es fluxes</p>
      <p>aqui hi han d'anar es fluxes</p>
      <p>aqui hi han d'anar es fluxes</p>
      <p>aqui hi han d'anar es fluxes</p>
      <p>aqui hi han d'anar es fluxes</p>
      <p>aqui hi han d'anar es fluxes</p>
      <p>aqui hi han d'anar es fluxes</p>
      <p>aqui hi han d'anar es fluxes</p>
      <p>aqui hi han d'anar es fluxes</p>
      <p>aqui hi han d'anar es fluxes</p>
      <p>aqui hi han d'anar es fluxes</p>
      <p>aqui hi han d'anar es fluxes</p>
      <p>aqui hi han d'anar es fluxes</p>
      <p>aqui hi han d'anar es fluxes</p>

      <form>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="{{ url_for ('static', filename='js/jquery.js')}}"></script>
<script type="text/javascript" src="{{ url_for ('static', filename='js/jquerymcpfuncs.js')}}"></script>
{% endblock %}
