{% from "_macro.html" import renderfield %}
{% extends 'base/base.html' %}
{% block content %}

<div class="container">
  <div class="row ">
    <div class="col col-md-3">
      <form>
        {{ renderfield(form.formlevelone, class = 'form-control') }}
        {{ renderfield(form.formleveltwo, class = 'form-control') }}
        {{ renderfield(form.formunderlyings, class = 'form-control') }}
        {{ renderfield(form.formdelicond, class = 'form-control') }}
        {{ renderfield(form.formgeodel, class = 'form-control') }}
      </form>
    </div>
    <div class="col col-md-3">
      <form>
        {{ renderfield(form.formplattscode, class = 'form-control') }}
        {{ renderfield(form.formdivisas, class = 'form-control') }}
        {{ renderfield(form.formmurexcode, class = 'form-control') }}
      </form>
    </div>
    <div class="col col-md-6">
      <form>

      </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="{{ url_for ('static', filename='js/jquery.js')}}"></script>
<script type="text/javascript" src="{{ url_for ('static', filename='js/jquerymcpfuncs.js')}}"></script>
{% endblock %}
